<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10 contentArea">
					<div class="row">

						<div class="col-md-6"> <img src="img/contactCat.jpg">
						</div>

						<div class="col-md-6"> 
							<h1> CONTACT ME </h1>
							<p> Feel free to contact me with any questions, comments, or concerns you might have. I am happy to set up meet + greets, scheduling, and appointments. I can also be reached, here, for potential cancellations.</p>
							<p>Call or Text Me by Phone:</p>
							<p>(978) 905 - 0321</p>
							 
							<p>Shoot Me an E-mail:</p>
							<p>pawswell@outlook.com</p>
							 
							<p>Private Message Me on Facebook:</p>
							<p>www.facebook.com/pawswellwalking</p>
							 
							<p>Or Leave Me a Comment Below!</p>							
						</div>
					
							<form method= "POST" action="/contact-form">
								<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
								<%= form_tag("/contact-form", :method => "POST") do %>
								<%= label_tag('name', "Name") %>
								<%= text_field_tag('name') %>
								<%= label_tag('email', "Email") %>
								<%= text_field_tag('email') %>
								<%= label_tag('phone', "Phone") %>
								<%= text_field_tag('phone') %>
								<%= label_tag('subject', "Subject") %>
								<%= text_field_tag('subject') %>
								<%= label_tag('message', "Message") %>
								<%= text_field_tag('message') %>
								<%= submit_tag("Send") %>
								<% end %>
					</div>

					<div class="row">
						<div class="col-md-6"> 
						</div>
						<div class="col-md-6"> 
						</div>	
					</div>	
				</div>
				<div class="col-md-1"></div>
			</div>